  /* Скасовуємо підкреслення у посилань */
  .link {
     text-decoration: none;
    }
 
    /* Прибираємо маркер */
  .list {
      list-style: none;
       }
:root{
    primary-brand: #4D5AE5;
    dark: #2E2F42;
    success: #31D0AA;
    text: #434455;
    subtle-text: #8E8F99;
    accent: #E7E9FC;
    light: #F4F4FD;


}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}
/* logo */
 .logo-web {
    font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
  color: #4D5AE5;
}
.logo-dark {
        font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    color: #2E2F42;
}
.logo-dark:hover,
.logo-dark:focus{
    color: #4D5AE5;
}
.logo-light {
        font-family: 'Raleway',sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    color: #F4F4FD;
}
.logo-light:hover,
.logo-light:focus{
    color: #4D5AE5;
}

.page-header {}
 /* < !--Navigation--> */
.navigation {}



.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #2E2F42;}


.menu-item {}



 .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #2E2F42;}

.menu-link:hover,
.menu-link:focus { 

    color: #4D5AE5;}
 

    
/* < !--Contact--> */
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: #434455; 
  
}

.contact-link:hover,
.contact-link:focus {

  color: #4D5AE5;} 



.contact-phone-number {}
.contact-mail{}

/* < !--Section--> */
.hero{
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;}


    .hero-btn{
        font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;display: flex;

        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;}
    .hero-btn:hover,
    .hero-btn:focus{
        background-color: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
    .hero-btn:active{
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
         /* < !--Section1--> */

        
                 .features-item {}
        
                 .features {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2E2F42;}
        
                 .features-text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455;}
        
                 .task {}
        
                 .task-img {}
        
                 .team {
                    background-color: #F4F4FD;
                 }
        
                 .section-title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.1;
                    /* text-align: center; */
                    letter-spacing: 0.02em;
                    text-transform: capitalize;}
        
                 .team-item {}
        
                 .team-img {}
        
                 .team-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    /* text-align: center; */
                    letter-spacing: 0.02em;
                    color: #2E2F42;}
        
                 .team-specialty {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    /* text-align: center; */
                    letter-spacing: 0.02em;
                    color: #434455;}
        
                 .footer-text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #E7E9FC; }
                    .footer-background {
                        background-color:  #2E2F42}

                .button-list{
                    color: #4D5AE5;
                    background-color: #F4F4FD;
                    
                    border: 1px solid #E7E9FC;
                    border-radius: 4px;
                }

                .button-portfolio:hover,
                .button-portfolio:focus {
                     background-color: #404BBF;
                     color: #FFFFFF;
                }
                
                 .works {}
                
                 .works-item {}
                
                .works-img {}

                 .works-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                
                    letter-spacing: 0.02em;
                    color: #2E2F42;}
                
                .works-product {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;

                    letter-spacing: 0.02em;
                    color: #434455;}